fastapi[all]
requests
faiss-cpu
sentence-transformers==2.2.2
huggingface_hub==0.14.1
uvicorn
httpx
jinja2
psycopg2
python-dotenv
redis
pymongo
scipy
chromadb-client==1.0.12
weaviate-client==3.22.1
protobuf==3.20.3